{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TinyBlog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  <div class="jumbotron">
      <h3>{{blog.title}}</h3>
  </div>
  <div>
      <table class="table table-borderless">
          <tr><td><b>Blog published at: </b>{{blog.timemodified}}</td></tr>
          <tr><td><b>Category: </b>{{blog.category}}</td></tr>
          <tr><td><b>Blog:</b></td></tr>
          <tr><td>{{blog.body | safe}}</td></tr>
     </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
       <ul>
           {% for category, msg in messages %}
             <li class='alert alert-{{category}}'>{{msg}}</li>
           {% endfor %}
       </ul>
     {% endif %}
  {% endwith %}
  </div>
{% endblock %}