{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TinyBlog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  <div class="jumbotron">
      <h3>Blogs by users</h3>
  </div>
  <div>
      <h3>Hello {{session['name']}}, Check what others are talking about.</h3>
      <table class="table table-striped">
        <thead><tr><th>Blog Title</th><th>Published By</th><th>Category</th><th>Likes</th><th>Date Published</th></tr></thead>
        <tbody>
          {% for blog in blogs %}
            <tr><td><a href="/blog/{{blog.id}}">{{blog.title}}</a></td><td>{{blog.user}}</td><td>{{blog.category}}</td><td>{{blog.likes}}</td><td>{{blog.timemodified}}</td></tr>
          {% endfor %}
        </tbody>  
     </table>
     {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, msg in messages %}
              <li class='alert alert-{{category}}'>{{msg}}</li>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
  </div>
{% endblock %}