{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TinyBlog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
      <h3>User Login</h3>
  </div>
  <div>
    <form method="POST">
      <table class="table table-borderless">
          <tr><td>User Name:</td> <td><input type="text" name="username"/></td></tr>
          <tr><td>Password: </td><td><input type="password" name="password"/></td></tr>
          
          <tr>
            <td></td>
            <td><input type="submit" name= "submit" value="Login" class="btn btn-success"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name= "reset" value="Cancel" class="btn btn-warning"/></td>
          </tr>
     </table> 
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         <ul>
             {% for category, msg in messages %}
               <li class='alert alert-{{category}}'>{{msg}}</li>
             {% endfor %}
         </ul>
       {% endif %}
    {% endwith %}
    <h4>Don't have a login ID? <a href="/register">Register here</a></h4>
  </div>
{% endblock %}