{% extends 'base.html' %}
{% block sub_content %}
  <div class="jumbotron">
      <h3>My Blogs</h3>
  </div>
  <div>
      <h3>Hello {{session['name']}}, Here is your blogs you already published</h3>
      <table class="table table-striped">
          <thead><tr><th>Blog Title</th><th>Category</th><th>Likes</th><th>TimeCreated</th><th></th></tr></thead>
          <tbody>
        {% for blog in user_blogs %}
          <tr>
            <td><b>{{blog.title}}</b></td>
            <td>{{blog.category}}</td>
            <td>{{blog.likes}}</td>
            <td>{{blog.timecreated}}</td>
            <td><a href="/editblog/{{blog.id}}" class="btn btn-primary">Edit</a></td>
            <td><a href="/deleteblog/{{blog.id}}" class="btn btn-danger">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>  
     </table>
     {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, msg in messages %}
              <li class='alert alert-{{category}}'>{{msg}}</li>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
  </div>
{% endblock %}