{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TinyBlog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/register">User Registration</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  <div class="jumbotron">
      <h3>User Registration</h3>
  </div>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         <ul>
             {% for category, msg in messages %}
               <li class='alert alert-{{category}}'>{{msg}}</li>
             {% endfor %}
         </ul>
       {% endif %}
    {% endwith %}
    <form method="POST">
      <table class="table table-borderless">
          <tr><td>Name:</td> <td><input type="text" name="name"/></td></tr> 
          <tr><td>User Name:</td> <td><input type="text" name="username"/></td></tr>
          <tr><td>Password:</td> <td><input type="password" name="password"/></td></tr>
          <tr><td>Retype Password:</td> <td><input type="password" name="repassword"/></td></tr>
          <tr><td>Age:</td><td><input type="text" name="age"/></td></tr>
          <tr><td>Introduction:</td> <td><textarea id="Introduction" name="introduction" rows="4" cols="50"></textarea></td></tr>
          <tr>
            <td><input type="submit" name= "submit" value="Submit" class="btn btn-success"/></td>
            <td>&nbsp;&nbsp;<input type="reset" name= "reset" value="Reset" class="btn btn-warning"/></td>
          </tr>
     </table> 
    </form>
    
  </div>
  
{% endblock %}